@import 'variables';

.about-box-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items:center;
  justify-content: center;
}

.about-box {

  cursor: pointer;
  overflow: hidden;
  min-height: 60px;
  margin-bottom: 20px;
  width: 70%;

  .fa-chevron-up, .fa-chevron-down {
    font-size: 1.25em;
  }

  &__title {
    letter-spacing: 1.2px;
    display: flex;
    justify-content: space-between;
    background-color: $boxColor;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.6em;
    color: $secondary-color;
    padding: 5px 20px 5px 15px;
    position: relative; 
    z-index: 2; 
  }
  
  &__text-container {
   
    color: $main-color;
    font-size: 0.5em;
    line-height: 25px;
    transition: transform 0.2s ease-in-out, margin-top 0.2s ease;
    background-color: $third-color; 
    border-radius: 5px; 
    padding: 20px;
    transform: translateY(-100%); 
    z-index: 1; 
    margin-bottom: 10px;
    margin-top: -40px; 
  }
  
  &.open {
    .about-box__text-container {
      transform: translateY(0); 
      margin-bottom: 20px;
      margin-top: 0; 
    }
  }
}

@media only screen and (max-width: 767px) {

  .about-box-group {
    margin: 30px 0px 20px 0px;
  }

  .about-box {
    margin: 0 20px 20px 20px;
    width:90%;
    min-height: 32px;
    border-radius:5px;
    
    .fa-chevron-up, .fa-chevron-down {
      font-size: 1.5em;
    }

    &__title {
      margin: -8px -2px;
      align-items: flex-start;
      font-size: .37em;
      padding: 0px 20px 0px 15px;
    }
    &__text-container {
      font-size: .37em;
      margin-bottom: -25px;
    }

    &.open {
      .about-box__text-container {
        margin-bottom: 0px;
      }
    }
  }
}
