@import 'variables';


.house-description-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  min-height: 50px;
  margin-bottom: 25px;
  overflow: hidden;

    &__title {
    letter-spacing: 1.2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $boxColor;
    border-radius: $box-border-radius;
    font-weight: bold;
    font-size: 0.45em;
    color: $secondary-color;
    padding: 0px 20px 0px 10px;
    z-index: 2;
  }

  &__text-container {
  
    color: $main-color;
    font-size: 0.5em;
    line-height: 25px;
    background-color: transparent;
    border-radius: $box-border-radius;
    padding: 20px;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out, margin-top 0.2s ease-in-out;
    z-index: 1;
    margin-bottom: 0px;
  }

  &.open {
    .house-description-box__text-container {

      transform: translateY(0%);
      background-color: $third-color;
      margin-bottom: 20px;
    }
  }
}

.house-equip-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  min-height: 50px;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;

  &__title {
    letter-spacing: 1.2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $boxColor;
    border-radius: $box-border-radius;
    font-weight: bold;
    font-size: 0.45em;
    color: $secondary-color;
    padding: 0px 20px 0px 10px;
    z-index: 2;
  }

  &__text-container {
  
    color: $main-color;
    font-size: 0.5em;
    line-height: 25px;
    background-color: transparent;
    border-radius: $box-border-radius;
    padding: 20px;
    top: 50px;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out, margin-top 0.2s ease;
    z-index: 1;
    margin-bottom: 0px;
  }

  &.open {
    .house-equip-box__text-container {
      transform: translateY(0%);
      background-color: $third-color;
      margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .house-description-box {
    &__text-container {
      margin-bottom: -35px;
    }
    &.open {
      &__text-container {
        margin-bottom: 10px;
      }
    }
  }

  .house-equip-box {
    &__text-container {
      margin-bottom: -35px;
    }
    &.open {
      &__text-container {
        margin-bottom: 10px;
      }
    }
  }
}
}
