@import 'variables';

.animated-box-group {
  max-width: 1240px;
  width: 65%;
  margin: auto;
  // margin-bottom: 25px;
}

.box {
  cursor: pointer;
  overflow: hidden;
  min-height: 50px;
  margin-bottom: 25px;
  
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $boxColor;
    border-radius: $box-border-radius;
    font-weight: bold;
    font-size: 0.8em;
    color: $secondary-color;
    padding: 0 10px 0 10px;
    position: relative; 
    z-index: 2; 
  }
  
  &__text-container {
    color: $main-color;
    font-size: 0.5em;
    line-height: 25px;
    transition: transform 0.3s ease-in-out, margin-top 0.3s ease-in-out;
    background-color: $third-color; 
    border-radius: $box-border-radius; 
    padding: 10px;
    transform: translateY(-100%); 
    z-index: 1; 
    // margin-bottom: 20px;
    margin-top: -50px; 
  }
  
  &.open {
    .box__text-container {
      transform: translateY(0); 
      // margin-bottom: 20px;
      margin-top: 0; 
    }
  }
}

@media only screen and (max-width: 767px) {

  .animated-box-group {
    max-width: none;
    width: 80%;
    margin-top: 50px;
    margin-bottom: -50px;
  }

  .box {

    &__text-container {
      margin-bottom: -35px;
    }

    &.open {
      .box__text-container {
        margin-bottom: 10px;
      }
    }
  }
}