@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  margin: auto;
  max-width: 1440px;
  font-family: Montserrat;
  font-size: 2.4em;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}

.header {
  margin: 50px 100px;
  display: flex;
  justify-content:space-between;
  align-items: center;

  .logokasa {
    width: 210px;
  }

  .navbar {
    display: flex;
    gap: 50px;
    font-size: 0.6em;
    &__link {
      color: $main-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &__link.active {
      text-decoration: underline;
    }
   }
   @media only screen and (max-width: 767px) {

    margin:20px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
  
    .logokasa {
      width: 145px;
    }
    .navbar {
      gap: 26px;
      text-transform: uppercase;
      
      &__link {
        color: $main-color;
        text-decoration: none;
        font-size: 0.5em;
      }
      &__link:hover {
        text-decoration: underline;
      }
    }
  }
}


.footer {
  max-width: 3160px;
  margin-top: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 210px;
  gap: 29px;

  &__logo {
    width: 122px;
  }
  &__copyright {
    color: $secondary-color;
    font-size: 0.75em;
  }
  @media only screen and (max-width: 767px) {
    margin-top: 20px;
    background-color: black;

    &__copyright {
      margin-top: -20px;
      width:30%;
      text-align: center;
      color: $secondary-color;
      font-size: 0.35em;
      line-height: 20px;
    }
  }
}