@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

//Couleurs
$main-color: #FF6060;
$secondary-color: white;
$third-color: #F6F6F6;

body {
  margin: auto;
  max-width: 1440px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}

.header {
  margin:50px 100px;
  display: flex;
  justify-content:space-between;
  align-items: center;

  .logokasa {
    width: 210px;
  }
  .navbar {
    display: flex;
    flex-direction: horizontal;
    gap: 50px;

    .navbar__link {
      color: $main-color;
      text-decoration: none;
    }
    .navbar__link:hover {
      text-decoration: underline;
    }
   }
}

.banner {
  position: relative;
  display: flex;
  margin: 0px 100px 50px 100px;
  max-width: 1240px;
  width: 100%;

  .banner__img {
    filter: brightness(70%);
    width: 100%;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
  }

  .banner__title {
    position: absolute;
    font-size: 48px;
    color: $secondary-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    white-space: nowrap;
  }
}

.cards {
  margin: 0px 100px 0px 100px;
  max-width: 1240px;
  padding: 50px;
  background-color:  $third-color;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  flex-shrink: 0;
  gap: 50px;

  .cards__house {
    position: relative;
    width: 30%;

    .cards__image {
      position: relative;
      width: 100%;
      border-radius: 25px;
      object-fit: cover;     
    } 
    .cards__title {
      position: absolute;
      line-height: 1.3em;
      left: 10px;
      bottom: 20px;
      font-size: 18px;
      color: $secondary-color;
    }
  }
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 210px;
  gap: 29px;

  .footer__logo {
    width: 122px;
  }
  .footer__copyright {
    color: $secondary-color;
    font-size: 26px;
  }
}